{% extends "if_website/base.html" %}

{% block content %}
<div class="row">
  
  <div class="span3">&nbsp;</div>
  
  <div class="span6">
    <p>Verantwortlich für diese Seite:</p>
    
    <p>
      Holger Drewes<br>
      Allerstr. 5<br>
      12049 Berlin
    </p>
    
    <!--
    <p>
      Digitale Gesellschaft e. V.<br>
      Schönhauser Allee 6/7<br>
      10119 Berlin<br>
    </p>
    -->
    <p>E-Mail: info@informationsverzicht.de</p>
  </div>
  
  <div class="span3">&nbsp;</div>
  
</div>
{% endblock %}
